/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-dic-2014, 9:57:02
    Author     : NATA
*/

html, body{
    padding: 0;
    margin: 0;
    height: 100%;
}
.map{height:40%;}